<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="p3.Properties.Settings.PROJECTConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=PROJECT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="p3.Properties.Settings.proj1" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=PROJECT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>